<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="/public/styles/style.css" rel="stylesheet">
    <title>App</title>
  </head>
  <body class="bg-neutral-400 font-medium h-screen flex items-center justify-center">
    {{ message }}
  </body>
</html>